<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

  <head>
    {% block html_head_container %}
      {% include 'html-header.twig' %}
      {% block head %}{% endblock %}
    {% endblock %}
  </head>

	<body class="binding {{ page_has_hero == true ? 'page-with-hero' }} {{body_class}}" data-template="base.twig">

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <div class='page-wrapper'>
      <div role="main">
        {% block content %}{% endblock %}
      </div>

      {% block footer %}
        <footer>{% include 'footer.twig' %}</footer>
        {{ function('wp_footer') }}
      {% endblock %}
    </div>

	</body>
</html>
